<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <title>Your tickets</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <!-- HEADER -->
    <%- include('header');%>

    <div class="container-fluid">
    
    <!--  -->
      <div class="row col-10 col offset-1 mt-5">

        <div class="d-flex flex-column mt">

          <h2 class="text-center text-white mb-3">Tickets in your basket :</h2>
          <table class="table table-light table-borderless">
            <thead>
              <tr>
                <th scope="col">N°</th>
                <th scope="col">Journey</th>
                <th scope="col">Date</th>
                <th scope="col">Departure time</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <!-- TICKETS -->
              <% var total = 0; ticketsCount = 0; for (i=0; i<tickets.length; i++){%>
              <tr>
                <th scope="row"><%=i+1%></th>
                <td><%=tickets[i].departure%>/<%=tickets[i].arrival%></td>
                <td><%=dateFormat(tickets[i].date)%></td>
                <td><%=tickets[i].departureTime%></td>
                <td><%=tickets[i].price%>€</td>
              </tr>
              <% total += Number(tickets[i].price); ticketsCount++ 
              }%>

              <!-- TOTAL -->
              <tr class="table-danger">
                <th scope="row">Total</th>
                <td></td>
                <td></td>
                <td></td>
                <td><%=total%>€</td>
              </tr>
          </table>
            <!-- BOUTON -->
            <div class="d-flex justify-content-end">

<!-- POPUP -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-danger mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Continue
</button>

<!-- Modal -->
<div class="modal fade modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">-Your order-</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Thanks you for your trust!<br>
          You have <%=ticketsCount%> trip(s) to confirm for a total of <%=total%>€.</p>
      </div>
      <div class="modal-footer">
        <a href='/users/confirm' type="button" class="btn btn-danger">Confirm</a>
      </div>
    </div>
  </div>
</div>

<!-- fin div bouton -->
</div>
              <!-- <button type="button" class="btn btn-danger btn-xs">Confirm</button> -->
            </div>
        </div>
      </div>
    </div>

    <!-- SCRIPTS -->
    <script src="../javascripts/confirmation-popup"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
